* {
    box-sizing: border-box;
}
.navbar {
    display: flex;
    flex-direction: column;
}
.footer * {
    display: flex;
flex-direction: row;
}
input {
    padding: 5px 15px;
    display:flex;
    align-items:flex-end;
    margin-bottom: 10px;
}
.return-btn{
    margin-top: 10px;
}